#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "User Interface"

config UI_LED_USE_PWM
	bool "Use PWM to control LEDs"
	default y if BOARD_NRF9160_PCA20035NS

endmenu
